<ul *ngIf="pages?.length>0" class="pagination">
    <li class="page-item" *ngIf="paginator.number > 0">
        <a class="page-link" [routerLink]="['/clients/page',paginator.number-1]">&laquo;</a>
    </li>
    <li [ngClass]="paginator.first?'disabled page-item':'page-item'">
        <span *ngIf="paginator.number == 0" class="page-link">First</span>
        <a *ngIf="paginator.number != 0" [routerLink]="['/clients/page',0]" class="page-link">First</a>
    </li>
    <li *ngFor="let page of pages" class="page-item" [ngClass]="page-1 == paginator.number?'disabled':''">
        <span *ngIf="page-1 == paginator.number" class="page-link">{{page}}</span>
        <a *ngIf="page-1 != paginator.number" class="page-link" [routerLink]="['/clients/page',page-1]">{{page}}</a>
    </li>
    <li [ngClass]="paginator.last?'disabled page-item':'page-item'">
        <span *ngIf="paginator.totalPages-1 == paginator.number" class="page-link">Last</span>
        <a *ngIf="paginator.totalPages-1 != paginator.number" [routerLink]="['/clients/page',paginator.totalPages-1]" class="page-link">Last</a>
    </li>
    <li class="page-item" *ngIf="paginator.number < paginator.totalPages-1">
        <a class="page-link" [routerLink]="['/clients/page',paginator.number+1]">&raquo;</a>
    </li>
</ul>