<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/"><img
        src="assets/pictures/marvel-logo.png"
        style="width: 10vw; height: 7.5vh;" alt="marvel-logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
        aria-label="Toggle navigation" data-target="#menuBar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="menuBar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a routerLink="/character-list" class="nav-link">Character List</a></li>
            <li class="nav-item"><a routerLink="/clients" class="nav-link">Clients</a></li>
        </ul>
    </div>
</nav>